
.practice-container-day2 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', sans-serif;
}

.task-day2 {
  background: #f8f9fa;
  padding: 22px;
  margin-bottom: 25px;
  border-radius: 12px;
  border-left: 6px solid #6b21a8;
}

.profile-card {
  background: linear-gradient(135deg, #1e1b4b, #312e81);
  color: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  margin: 25px 0;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

.complete-btn {
  display: block;
  margin: 40px auto;
  background: #6b21a8;
  color: white;
  padding: 16px 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}